table {
  width: 100%;
  font-size: 12pt;
  font-family: sans-serif;
}
td {
  text-align: left;
  font-weight: bold;
  height: 40px;
  line-height: 1.6;
  padding: 10px;
}
th {
  border: 1px solid rgb(0, 0, 0);
}
#parameters {
  font-weight: bold;
  color: blue;
  font-style: italic;
}

#tablelist {
  padding: 10px;
  line-height: 1.9;
  font-family: sans-serif;
}